
body {
    background-color: black;
    color: white;
    font-family: sans-serif;
    margin: 0;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 10px 20px;
}

.logo-cabecera {
    max-width: 10%;
    height: auto;
}


.boton-nav {
    text-decoration: none;
    color: black;
    background-color: hotpink;
    padding: 5px 10px;
    border-radius: 3px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.boton-nav:hover {
    background-color: white;
    color: black;
}

.boton-nav.activo {
    background-color: white;
    color: black;
}


main {
    display: flex;
    gap: 20px;
    padding: 20px;
}

aside {
    width: 25%;
    background-color: black;
    padding: 15px;
}

section {
    width: 75%;
    background-color: hotpink;
    padding: 20px;
    border-radius: 10px;
}


h2 {
    text-align: center;
    color: white;
}


.galeria {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.ficha {
    background-color: white;
    color: black;
    border-radius: 10px;
    width: 200px;
    text-align: center;
    padding: 10px;
    box-shadow: 0 0 10px rgba(255,255,255,0.2);
    transition: transform 0.3s ease;
}

.ficha:hover {
    transform: scale(1.05);
}

.ficha img {
    width: 100%;
    border-radius: 10px;
}


ul {
    background-color: white;
    color: black;
    padding: 15px;
    border-radius: 10px;
}


footer {
    background-color: black;
    text-align: center;
    padding: 20px;
    color: white;
}
